#buttons-view {
    background-color: lightgray;
    width: 50%;
    height: 80px;
    margin-left: 0;
    margin-right: 0;
}

#data-goes-here{
    background-color: lightgray;
    margin-left: 0;
    margin-right: 0;
}