#buttons-view {
    background-color:rgb(24, 144, 241);
    margin: 0 auto;
    border-bottom: 0px;
    box-sizing: border-box;  
}

#data-goes-here{
    background-color: rgb(64, 169, 255);
    margin: 0 auto;  
}

.shadow {
    justify-content: space-around;
}
.shadow > button {
    margin: 7px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}   
#head {
    background-color: rgb(24, 144, 241);
    color: white;
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 0 auto;
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    background: url(../images/background.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
}
#newExchange {
    color: white;
    z-index: 1;
}
#input {
    margin-bottom: 1px;
}   

.selected-exchange{
    background-color: greenyellow !important;
}