#buttons-view {
    background-color:rgb(24, 144, 241);
    border-bottom: 5px;
    padding: 20px 8px 15px 8px;
    box-sizing: border-box;  
}
#buttons-view > button {
    margin: 7px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

#data-goes-here{
    background-color: rgb(64, 169, 255);
    margin: 0 auto; 

}

.shadow {
    justify-content: space-around;
}

#head {
    background-color: rgb(24, 144, 241);
    color: white;
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 0 auto;
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    background: url(../images/background.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
}
#newExchange {
    z-index: 1;
}
#input {
    margin-bottom: 1px;
}   
.btn {
    color: white;
}
.selected-exchange{
    background-color: greenyellow !important;
}
#collapseExample {
    color: black;
    
}
#about {
    margin-right: auto;
}
#login {
    margin-left: auto;
}
#negative {
    margin-left: auto;
}